.builder {
  margin: 100px 0 120px 0;
  &Body {
    display: flex;
    justify-content: space-between;
    &__col {
    }
    &__preview {
      border-radius: 21px;
      overflow: hidden;
      width: 430px;
      padding: 0 0 100% 0;
      background-image: linear-gradient(to bottom, #3c2f5a, #3f2c54);
      position: relative;

      &Item {
        position: absolute;
        top: 0;
        left: 0;
        width: 100%;
        height: 100%;
        &_bg {
          z-index: 0;
        }
        &_body {
          z-index: 1;
        }
        &_bottom {
          z-index: 2;
        }
        &_eyes {
          z-index: 3;
        }
        &_gloves {
          z-index: 4;
        }
        &_hair {
          z-index: 5;
        }
        &_item {
          z-index: 6;
        }
        &_legs {
          z-index: 7;
        }
        &_month {
          z-index: 8;
        }
        &_top {
          z-index: 9;
        }
      }
      img {
        position: absolute;
        top: 0;
        left: 0;
        width: 100%;
        height: 100%;
        object-fit: contain;
        object-position: center;
      }
    }
    &__rare {
      display: flex;
      justify-content: center;
      align-items: center;
      font-family: AvenirNext;
      font-size: 23px;
      font-weight: 700;
      font-stretch: normal;
      font-style: normal;
      line-height: 1.34;
      letter-spacing: -0.4px;
      margin: 20px 0 0 10px;
      color: #fff;
      text-transform: uppercase;
      span {
        margin: 0 0 0 5px;
      }
    }
  }
  &Selects {
    &__item {
      margin: 25px 0 0 0;
      &:first-child {
        margin: 0;
      }
      &Name {
        display: flex;
        align-items: center;
        font-family: AvenirNext;
        font-size: 10px;
        font-weight: 500;
        letter-spacing: -0.09px;
        color: rgba($color: #fff, $alpha: 0.4);
        text-transform: uppercase;
        margin: 0 0 0 15px;
      }
      &Label {
        margin: 0 0 0 10px;
        padding: 4px 10px 3px;
        font-family: AvenirNext;
        font-size: 9px;
        font-weight: 600;
        letter-spacing: -0.06px;
        color: #fff;
        border-radius: 10px;
        display: inline-block;
        &_legendary {
          border: solid 1px rgba(0, 0, 0, 0.2);
          background-color: #6D96D7;
        }
        &_uprare {
          border: solid 1px rgba(0, 0, 0, 0.2);
          background-color: #7435D4;
        }
        &_rare {
          border: solid 1px rgba(0, 0, 0, 0.2);
          background-color: #D51A98;
        }
        &_common {
          border: solid 1px rgba(0, 0, 0, 0.2);
          background-color: #261D3C;
        }
      }
    }
  }

}
.select {
  margin: 7px 0 0 0;
  width: 240px;
}

.tooltip {
  &__trigger {
    margin: 0 0 0 5px;
    background-color: transparent;
    svg {
      width: 20px;
      height: 20px;
      color: #fff;
    }
  }
  &Body {
    max-width: 240px;
    background-color: #191D30;
    padding: 10px;
    margin: 0 0 0 10px;
    border-radius: 5px;
    color: #fff;
    font-size: 16px;
    font-family: AvenirNext;
    line-height: 1.3;
    animation: tooltipShow 0.3s 1;
  }
}

@keyframes tooltipShow {
  0% {
    transform: scale(0) translate(-100%, 0);
    opacity: 0;
  }
  100% {
    transform: scale(1) translate(0);
    opacity: 1;
  }
}

@media (max-width:992px) {
  .builder {
    margin: 30px 0 100px;
    &Body {
      flex-direction: column;
      &__preview {
        margin: 0 auto;
        width: 100%;
        max-width: 540px;
        height: 540px;
        padding: 0;
      }
      &__col {
        &:nth-child(1) {
          order: 2;
          margin: 30px 0 0 0;
        }
        &:nth-child(2) {
          order: 1;
        }
        &:nth-child(3) {
          order: 3;
          margin: 25px 0 0 0;
        }
      }
    }
    &Selects {
      max-width: 540px;
      margin: 0 auto;
    }
  }
  .select {
    width: 100%;
  }
}
@media (max-width:767px) {
  .builder {
    &Body {
      &__preview {
        max-width: 100%;
        height: auto;
        padding: 0 0 100%;
      }
    }
  }
}