.faqs {
  margin: 140px 0 0 0;
  &__title {
    font-family: AvenirNext;
    font-size: 66px;
    font-weight: 900;
    letter-spacing: -0.47px;
    text-align: center;
    color: #fff;
  }
  &Body {
    margin: 80px 0 0 0;
    &__item {
      margin: 50px 0 0 0;
      &Btn {
        width: 26px;
        height: 26px;
        position: relative;
        transition: all .3s ease;
        &.open {
          transform: rotate(45deg);
          span {
            background-color: rgba(255, 255, 255, 1);
          }
        }
        span {  
          display: block;
          background-color: rgba(255, 255, 255, 0.3);
          height: 1px;
          width: 100%;
          position: absolute;
          top: 50%;
          left: 50%;
          transition: all .3s ease;
          &:nth-child(1) {
            transform: translate(-50%, -50%) rotate(90deg);
          }
          &:nth-child(2) {
            transform: translate(-50%, -50%) rotate(0deg);
          }
        }
      }
      &Title {
        display: flex;
        align-items: center;
        justify-content: space-between;
        cursor: pointer;
        font-family: AvenirNext;
        font-size: 22px;
        font-weight: bold;
        letter-spacing: -0.16px;
        color: #fff;
      }
      &Content {
        max-width: 820px;
        margin: 15px 0 0 0;
        font-family: AvenirNext;
        font-size: 15px;
        font-weight: 400;
        line-height: 1.4;
        letter-spacing: -0.11px;
        color: rgba(255, 255, 255, 0.4);
        span { 
          color: #ca1c9f;
        }
        animation: accordeonOpen .4s 1;
      }
    }
  }
}

@keyframes accordeonOpen {
  0% {
    opacity: 0;
    transform: scale(0) translate(-50%, -20%);
  }
  70% {
    transform: scale(1) translate(0);
  }
  100% { 
    opacity: 1;
  }
}