.coin {
  margin: 140px 0 0 0;
  &Body {
    display: flex;
    justify-content: space-between;
    border-radius: 21px;
    border: solid 2px rgba(255, 255, 255, 0.03);
    background-color: rgba(255, 255, 255, 0);
    overflow: hidden;
    padding: 70px;
    &__col {
      flex: 0 0 50%;
      position: relative;
      &Glow {
        position: absolute;
        top: -130px;
        right: -150px;
        width: 426px;
        height: 265px;
        border-radius: 576.9px;
        filter: blur(192.3px);
        background-image: linear-gradient(126deg, #772cd2 23%, rgba(253, 19, 127, 0.8) 72%);
      }
    }
    &__title {
      font-family: AvenirNext;
      font-size: 36px;
      font-weight: 900;
      letter-spacing: -0.26px;
      color: #fff;
      text-transform: uppercase;
    }
    &__desc {
      margin: 26px 0 0 0;
      font-family: AvenirNext;
      font-size: 16px;
      font-weight: 400;
      color: #fff;
      line-height: 1.4;
      button {
        background-color: transparent;
        font-weight: 600;
        color: #a04cff;
        margin: 0 0 0 5px;
      }
    }
    &__btns {
      display: flex;
      margin: 50px 0 0 0;
      &Item {
        cursor: pointer;
        padding: 20px;
        min-width: 200px;
        font-family: AvenirNext;
        font-size: 16px;
        font-weight: bold;
        letter-spacing: -0.11px;
        text-align: center;
        color: #fff;
        border-radius: 21px;
        border: solid 2px rgba(255, 255, 255, 0.001);
        background-color: rgba($color: #fff, $alpha: 0.1);
        &:last-child {
          border: solid 2px rgba(255, 255, 255, 0.1);
          background-color: rgba(3, 16, 24, 0);
          margin: 0 0 0 17px;
        }
      }
    }
    &__img {
      width: 400px;
      height: 250px;
      margin: 0 0 0 auto;
      img {
        width: 100%;
        height: 100%;
        object-fit: contain;
        object-position: center;
      }
    }
  }
}

.modal {
  width: 1250px;
  border-radius: 21px;
  background-color: #031018;
  padding: 50px 50px 120px;
  position: relative;
  border: 1px solid rgb(53, 53, 53);
  &__close {
    cursor: pointer;
    width: 14px;
    height: 14px;
    position: absolute;
    top: 25px;
    right: 25px;
    img {
      width: 100%;
      height: 100%;
      object-fit: contain;
      object-position: center;
    }
  }
  &Body {
    display: flex;
    &__col {
      flex: 0 0 50%;
      display: flex;
      flex-direction: column;
      &Title {
        font-family: AvenirNext;
        font-size: 36px;
        font-weight: 900;
        letter-spacing: -0.26px;
        color: #fff;
        text-align: center;
        text-transform: uppercase;
      }
    }
    &__item {
      position: relative;
      &_line {
        height: 330px;
        max-width: 560px;
        margin: 40px 0 0 0;
      }
      &Img {
        width: 260px;
        height: 270px;
        margin: 160px auto 0;
        img {
          width: 100%;
          height: 100%;
          object-fit: contain;
          object-position: center;
        }
      }
    }
    &__stat {
      position: absolute;
      width: 115px;
      &:nth-child(1) {
        top: 50px;
        left: 280px;
        .modalBody__statLine {
          padding: 10px 0 0 0;
          span {
            &:nth-child(1) {}
            &:nth-child(2) {
              transform: rotate(105deg) scale(0.7);
              transform-origin: left;
            }
          }
        }
      }
      &:nth-child(2) {
        top: 100px;
        left: 100px;
        .modalBody__statLine {
          padding: 10px 0 0 0;
          span {
            &:nth-child(1) {}
            &:nth-child(2) {
              transform: rotate(-120deg) scale(0.4);
              transform-origin: right;
            }
          }
        }
      }
      &:nth-child(3) {
        top: 230px;
        left: 27px;
        .modalBody__statLine {
          padding: 10px 0 0 0;
          span {
            &:nth-child(1) {}
            &:nth-child(2) {
              transform: rotate(-120deg) scale(0.7);
              transform-origin: right;
            }
          }
        }
      }
      &:nth-child(4) {
        top: 440px;
        left: 160px;
        transform: rotate(35deg);
        .modalBody__statPart {
          font-size: 14px;
        }
        .modalBody__statName {
          font-size: 12px;
          margin: 5px 0 0 0;
        }
        .modalBody__statLine {
          padding: 10px 0 0 0;
          span {
            display: none;
          }
        }
      }
      &:nth-child(5) {
        top: 450px;
        left: 265px;
        .modalBody__statPart {
          font-size: 14px;
        }
        .modalBody__statName {
          font-size: 12px;
          margin: 5px 0 0 0;
        }
        .modalBody__statLine {
          padding: 10px 0 0 0;
          span {
            display: none;
          }
        }
      }
      &:nth-child(6) {
        top: 400px;
        left: 355px;
        transform: rotate(-35deg);
        .modalBody__statPart {
          font-size: 14px;
        }
        .modalBody__statName {
          font-size: 12px;
          margin: 5px 0 0 0;
        }
        .modalBody__statLine {
          padding: 10px 0 0 0;
          span {
            display: none;
          }
        }
      }
      &:nth-child(7) {
        top: 325px;
        left: 450px;
        .modalBody__statLine {
          padding: 10px 0 0 0;
          span {
            &:nth-child(1) {}
            &:nth-child(2) {
              transform: rotate(-183deg) scale(1);
              transform-origin: left;
            }
          }
        }
      }
      &:nth-child(8) {
        top: 150px;
        left: 440px;
        .modalBody__statLine {
          padding: 10px 0 0 0;
          span {
            &:nth-child(1) {}
            &:nth-child(2) {
              transform: rotate(-210deg) scale(0.5);
              transform-origin: left;
            }
          }
        }
      }
      &Part {
        font-family: AvenirNext;
        font-size: 26px;
        font-weight: bold;
        letter-spacing: -0.19px;
        color: #fff;
      }
      &Name {
        opacity: 0.3;
        font-family: AvenirNext;
        font-size: 12px;
        font-weight: 500;
        line-height: 1.25;
        letter-spacing: -0.09px;
        color: #fff;
        margin: 10px 0 0 0;
      }
      &Line {
        span {
          display: block;
          height: 1px;
          background-color: #1c282f;
          &:nth-child(1) {}
          &:nth-child(2) {}
        }
      }
    }
  }
  &Legends {
    display: flex;
    flex-wrap: wrap;
    margin: 30px 0 0 60px;
    &__item {
      margin: 10px 0 0 0;
      flex: 0 0 30%;
      font-family: AvenirNext;
      font-size: 10px;
      font-weight: 500;
      letter-spacing: -0.07px;
      color: #fff;
      display: flex;
      align-items: center;
      span {
        display: block;
        border-radius: 50%;
        width: 7px;
        height: 7px;
        margin: 0 6px 0 0;
      }
    }
  }
}


@media (max-width:1500px) {

}
@media (max-width:1200px) {
  .modal {
    width: 720px;
    height: calc(100vh - 60px);
    margin: 30px 0 0 0;
    padding: 20px 10px;
    overflow-y: scroll;
    &Body {
      flex-direction: column;
      align-items: center;
      &__col {
        flex: 0 0 auto;
        width: 560px;
        &Title {
          font-size: 24px;
        }
      }
      &__item {
        &_line {
          width: 100%;
          height: 260px;
        }
        &Img {
          width: 173px;
          height: 180px;
          margin: 100px auto 100px;
        }
      }
      &__stat {
        width: 80px;
        &:nth-child(1) {
          top: 18px;
          // left: calc(50% - 280px);
          left: calc(50% - 5px);
          .modalBody__statLine {
            padding: 10px 0 0 0;
            span {
              &:nth-child(1) {}
              &:nth-child(2) {
                transform: rotate(105deg) scale(0.4);
                transform-origin: left;
              }
            }
          }
        }
        &:nth-child(2) {
          top: 40px;
          left: calc(50% - 140px);
          .modalBody__statLine {
            padding: 10px 0 0 0;
            span {
              &:nth-child(1) {}
              &:nth-child(2) {
                transform: rotate(-120deg) scale(0.3);
                transform-origin: right;
              }
            }
          }
        }
        &:nth-child(3) {
          top: 140px;
          left: calc(50% - 140px);
          .modalBody__statLine {
            padding: 10px 0 0 0;
            margin: 0 30px 0 0;
            span {
              &:nth-child(1) {
                transform: scale(0.7);
              }
              &:nth-child(2) {
                transform: translate(-7px, -1px) rotate(-130deg) scale(0.7);
                transform-origin: right;
              }
            }
          }
        }
        &:nth-child(4) {
          top: 290px;
          left: calc(50% - 85px);
          transform: rotate(35deg);
          .modalBody__statPart {
            font-size: 9.3px;
          }
          .modalBody__statName {
            font-size: 8px;
            margin: 2px 0 0 0;
          }
          .modalBody__statLine {
            span {
              display: none;
            }
          }
        }
        &:nth-child(5) {
          top: 295px;
          left: calc(50% - 20px);
          .modalBody__statPart {
            font-size: 9.3px;
          }
          .modalBody__statName {
            font-size: 8px;
            margin: 3px 0 0 0;
          }
          .modalBody__statLine {
            span {
              display: none;
            }
          }
        }
        &:nth-child(6) {
          top: 260px;
          left: calc(50% + 40px);
          transform: rotate(-35deg);
          .modalBody__statPart {
            font-size: 9.3px;
          }
          .modalBody__statName {
            font-size: 8px;
            margin: 3px 0 0 0;
          }
          .modalBody__statLine {
            span {
              display: none;
            }
          }
        }
        &:nth-child(7) {
          top: 190px;
          left: calc(50% + 100px);
          .modalBody__statLine {
            padding: 10px 0 0 0;
            span {
              &:nth-child(1) {}
              &:nth-child(2) {
                transform: rotate(-183deg) scale(0.7);
                transform-origin: left;
              }
            }
          }
        }
        &:nth-child(8) {
          top: 70px;
          left: calc(50% + 100px);
          .modalBody__statLine {
            padding: 10px 0 0 0;
            span {
              &:nth-child(1) {}
              &:nth-child(2) {
                transform: rotate(-210deg) scale(0.5);
                transform-origin: left;
              }
            }
          }
        }
        &Part {
          font-size: 18px;
        }
        &Name {
          font-size: 10px;
        }
        &Line {
          padding: 5px 0 0 0;
        }
      }
    }
    &Legends {
      margin: 20px 0 0 0;
      padding: 0 0 40px;
      flex-direction: column;
      &__item {
        margin: 15px 0 0 0;
        &:first-child {
          margin: 0;
        }
      }
    }
  }
}
@media (max-width:992px) {
  .modal {
    width: 720px;
    &Body {
      &__col {
        // width: 100%;
      }
    }
  }
  .coin {
    margin: 40px 0 0 0;
    &Body {
      display: flex;
      flex-direction: column-reverse;
      padding: 20px;
      &__col {
        &Glow {
          display: none;
        }
      }
      &__title {
        font-size: 22px;
      }
      &__desc {
        font-weight: 500;
      }
      &__btns {
        margin: 30px 0 0 0;
        &Item {
          font-size: 14px;  
          min-width: auto;
          padding: 17px 20px;
        }
      }
      &__img {
        position: relative;
        margin: 0;
        height: 150px;
        width: 100%;
        img {
          width: 400px;
          height: 250px;
          position: absolute;
          top: -100px;
          left: -90px;
        }
      }
    }
  }
}
@media (max-width:767px) {
  .modal {
    width: calc(100vw - 40px);
    &Body {
      &__col {
        width: 100%;
      }
    }
  }
  .modal {
    &Body {
      &__col {
      }
      &__item {
        &_line {
          margin: 20px 0 0 0;
          height: 160px;
        }
        &Img {
          width: auto;
          height: 120px;
          margin: 50px auto 50px;
        }
      }
      &__stat {
        &:nth-child(1) {
          top: 6px;
          .modalBody__statLine {
            padding: 6px 0 0 0;
            span {
              &:nth-child(1) {}
              &:nth-child(2) {
                transform: rotate(105deg) scale(0.25);
              }
            }
          }
        }
        &:nth-child(2) {
          top: 22px;
          left: calc(50% - 114px);
          .modalBody__statLine {
            padding: 6px 0 0 0;
            span {
              &:nth-child(1) {}
              &:nth-child(2) {
                transform: rotate(-120deg) scale(0.25);
              }
            }
          }
        }
        &:nth-child(3) {
          top: 70px;
          left: calc(50% - 117px);
          .modalBody__statLine {
            padding: 6px 0 0 0;
            span {
              &:nth-child(1) {}
              &:nth-child(2) {
              }
            }
          }
        }
        &:nth-child(4) {
          top: 180px;
          left: calc(50% - 65px);
          .modalBody__statPart {
          }
          .modalBody__statName {
          }
          .modalBody__statLine {
            span {
            }
          }
        }
        &:nth-child(5) {
          top: 176px;
          left: calc(50% - 16px);
          .modalBody__statPart {
          }
          .modalBody__statName {
          }
          .modalBody__statLine {
            span {
            }
          }
        }
        &:nth-child(6) {
          top: 150px;
          left: calc(50% - -24px);
          .modalBody__statPart {
          }
          .modalBody__statName {
          }
          .modalBody__statLine {
            span {
            }
          }
        }
        &:nth-child(7) {
          top: 120px;
          left: calc(50% + 70px);
          .modalBody__statLine {
            padding: 6px 0 0 0;
            span {
              &:nth-child(1) {
                transform: scale(0.8) translate(-10px, 1px);
              }
              &:nth-child(2) {
                transform: rotate(-183deg) scale(0.6)
              }
            }
          }
        }
        &:nth-child(8) {
          top: 60px;
          left: calc(50% + 70px);
          .modalBody__statLine {
            padding: 6px 0 0 0;
            span {
              &:nth-child(1) {
                transform: translate(-12px, 1px) scale(0.7);
              }
              &:nth-child(2) {
                transform: rotate(-210deg) scale(0.35);
              }
            }
          }
        }
        &Part {
          font-size: 12px;
        }
        &Name {
          font-size: 7px;
          margin: 2px 0 0 0;
        }
        &Line {
          span {
            &:nth-child(1) {}
            &:nth-child(2) {}
          }
        }
      }
    }
    &Legends {
      margin: 15px 0 0 0;
      &__item {
        margin: 8px 0 0 0;
        span {
        }
      }
    }
  }
  
}
@media (max-width:575px) {

}
@media (max-width:375px) {

}