.footer {
  background-color: #191D30;
  &Body {
    padding: 60px 0;
    display: flex;
    justify-content: space-between;
    &__col {
      display: flex;
      flex-direction: column;
      &:last-child {
        align-items: flex-end;
        flex: 1 1 auto;
      }
    }
    &__logo {

    }
    &__cr {
      margin: 12px 0 0 0;
      opacity: 0.4;
      font-family: AvenirNext;
      font-size: 12px;
      font-weight: 500;
      letter-spacing: -0.09px;
      color: #fff;
    }
    &__theme {
      margin: 20px 0 0 0;
    }
    &__social {
      width: 130px;
      margin: 30px 0 0 0;
      display: flex;
      justify-content: space-between;
      &Item {
        cursor: pointer;
        display: inline-block;
        width: 20px;
        height: 16px;
        svg {
          width: 100%;
          height: 100%;
          path {
            color: rgba($color: #fff, $alpha: 0.4);
          }
        }
      }
    }
    &__btn {
      cursor: pointer;
      display: inline-block;
      font-family: AvenirNext;
      font-size: 16px;
      font-weight: bold;
      letter-spacing: -0.11px;
      text-align: center;
      color: #fff;
      padding: 20px 25px;
      width: 210px;
      border-radius: 21px;
      text-transform: uppercase;
      background-image: linear-gradient(114deg, #772cd2, rgba(253, 19, 127, 0.8) 126%);
    }
    &__links {
      display: flex;
      justify-content: space-between;
      margin: auto 0 0 0;
      &Item {
        cursor: pointer;
        font-family: AvenirNext;
        font-size: 12px;
        font-weight: 500;
        letter-spacing: -0.09px;
        color: #fff;
        margin: 0 0 0 40px;
        text-transform: uppercase;
      }
    }
  }
}

@media (max-width:1500px) {}
@media (max-width:1200px) {}
@media (max-width:992px) {
  .footer {
    &Body {
      flex-direction: column;
      align-items: center;
      padding: 40px 0;
      &__logo {
        display: flex;
        justify-content: center;
      }
      &__btns {
        display: flex;
        justify-content: center;
        width: 100%;
        margin: 30px 0 0 0;
      }
      &__btn {}
      &__col {

      }
      &__links {
        margin: 40px 0 0 0;
        flex-wrap: wrap;
        &Item {
          flex: 0 0 50%;
          text-align: center;
          margin: 30px 0 0 0;
          &:nth-child(1) {
            margin: 0;
          }
          &:nth-child(2) {
            margin: 0;
          }
        }
      }
    }
  }
}
@media (max-width:767px) {}
@media (max-width:575px) {}
@media (max-width:375px) {}